<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/admin.css">
    <%- include('./partials/head') %>
    <title>Admin</title>
</head>
<%- include('./partials/header') %>

<body>
    <aside class="aside-menu">
        <li>products</li>
        <li>users</li>
        <li>categories</li>
        <li>banners</li>
        <li>promotions</li>
    </aside>

    <section class="admin-info">
        <div class="admin-image-container">
            <img src="/img/foto-presentacion.jpg" alt="">
        </div>
    </section>
</body>
<%- include('./partials/footer') %>

</html>