<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%- include('./partials/head') %>
    <title>Document</title>
</head>
<%- include('./partials/header') %>
<body>
    <section class="all-products">
        <span>all Products</span>
    </section>
    <section class="per-restaurant">
        <span>Restaurant </span>
    </section>
    <section class="per-category">
        <h3span>Category</span>
    </section>
</body>
<%- include('./partials/footer') %>
</html>