<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="#" type="image/x-icon">nk
    <link rel="stylesheet" href="/styles/index.css">
    <script src="https://kit.fontawesome.com/d5c465f7b6.js" crossorigin="anonymous"></script>

    <%- include('./partials/head') %>
    <title>food Funnel</title>
</head>
<%- include('./partials/header') %>
<body>
    <img class="hero-img" src="/img/hero-image-foodFunnel.jpg" alt="">
    <section class="slider-category-container">
        <div class="slider-category">
            <article class="ramen">ramen</article>
            <article class="noodles">noodles</article>
            <article class="meal">meal</article>
            <article class="ramen">ramen</article>
            <article class="ramen">ramen</article>
        </div>
    </section>

    <section class="promotion">
        <img src="/img/banner-food.jpg" alt="">
    </section>
    <section class="flex-slider">
        <div class="grid-item">
            <article class="food-card"><span>ramen <p>15000$</p></span><img src="/img/hero-image-foodFunnel.jpg" alt="">
            </article>

            <article class="food-card"><span>ramen <p>15000$</p></span><img src="/img/hero-image-foodFunnel.jpg" alt="">
            </article>
            <article class="food-card"><span>ramen <p>15000$</p></span><img src="/img/hero-image-foodFunnel.jpg" alt="">
            </article>
            <article class="food-card"><span>ramen <p>15000$</p></span><img src="/img/hero-image-foodFunnel.jpg" alt="">
            </article>
        </div>
    </section>
</body>
<%- include('./partials/footer') %>
<script>
</script>

</html>