<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/login.css">
    <%- include('./partials/head') %>
    <script src="https://kit.fontawesome.com/d5c465f7b6.js" crossorigin="anonymous"></script>

    <title>Document</title>
</head>
<%- include('./partials/header') %>
<body>
    <div class="container-formLogin">
        <h1>Login</h1>
        <form action="/users/login" method="POST">
            <% if (locals.errores) {  

                errores.forEach(error => { %>
                    <p class="error"> <%= error.msg %> </p>
                <%  }); 
            }%>
            <label for="email">Email:</label><br>
            <input type="email" name="email" id="email">
            <label for="password">Password:</label><br>
            <input type="password" name="password" id="password">
            <div class="googleLog-container">
                <i class="fa-brands fa-google"></i>
                <p>log in with Google</p>
            </div>
            <button class="log-user">Submit</button>
        </form>
        <a href="">
            Forgot your password?
        </a>
    </div>
    
</body>
<%- include('./partials/footer') %>
<script src="scripts/login.js"></script>
</html>