<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <footer>
        <li><a href="#"><i class="fa-solid fa-utensils"></i></a></li>
        <li><a href="#"><i class="fa-solid fa-location-dot"></i></a></li>
        <li></li>
        <li><a href="#"><i class="fa-solid fa-burger"></i></a></li>
        <li class="home-footer"><a href="/" class="home-link"><i class="fa-solid fa-house-chimney"></i> Home </a></li>
        <li><a href="/users/userProfile/"+${userToLoggedIn.id}><i class="fa-regular fa-user"></i></a></li>
        <li><a href="/admin/main"><i class="fa-regular fa-user" style="color: green;"></i></a></li>
    </footer>
</body>
</html>