<!DOCTYPE html>
<html lang="en">

<header>
    <nav>
        <a href="/products/search"><i class="fa-solid fa-magnifying-glass"></i></a>
        <span>Food Funnel </span> 
        <i class="fa-solid fa-ellipsis-vertical" id="btnMenu"></i>
    </nav>
</header>
    <aside class="burguerMenu" id="burguerMenu">
        <li class="closeBMBtn"><i class="fa-solid fa-x" id="closeBMBtn"></i></li>
        <li class="image-container">
            <img src="/img/foto-presentacion.jpg" alt="">
        </li>
        <li><a href="/">Home</a></li>
        <li><a href="/order">Order</a></li>
        <li><a href="/users/login">Login</a></li>
        <li><a href="/users/register">register</a></li>
        <li>Log Out</li>
    </aside>

<script src="/scripts/header.js"></script>
</html>