* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: whitesmoke;
}

.main-container {
    .slider-wrapper {
        position: relative;
        max-width: 50rem;
        margin: 0 auto;

        .slider {
            display: flex;
            aspect-ratio: 16 / 9;
            overflow-x: auto;
            scroll-snap-type: x mandatory;
            scroll-behavior: smooth;

            img {
                flex: 1 0 100%;
                scroll-snap-align: start;

            }
        }

        .slider-nav {
            display: flex;
            column-gap: 1rem;
            position: absolute;
            bottom: 1.25rem;
            left: 50%;
            transform: translateX(-50%);
            z-index: 1;

            a {
                width: 0.5rem;
                height: 0.5rem;
                border-radius: 50%;
                background-color: #fff;
                opacity: 0.75;
                transition: opacity ease 250ms;

                &:hover {
                    background-color: cyan;
                    transform: scale(1.5);
                }
            }
        }
    }
}

.promotion {
    position: relative;
    display: flex;
    justify-content: center;
    width: 100%;


    .expand-offert-banner {
        position: absolute;
        bottom: 0;
        color: white;
        background: #7c560e;
        border: 2px solid white;
        padding: 5.5px;
        border-radius: 18px;
    }

    img {
        width: 100%;
        border-radius: 50px;
    }
}

.flex-slider {
    display: flex;
    flex-direction: column;
    box-shadow: inset 0 0 13px 1px gray;
    border-radius: 18px;
    margin: 1rem auto 1rem auto;
    justify-content: center;

    .allCategories {
        display: flex;
        justify-content: center;
        padding: 15px;
        width: auto;

        .allCategories-link {
            border: 1px solid #000000;
            background: #b52525;
            color: wheat;
            padding: 10px;
            border-radius: 18px;
        }

        &:hover {
            animation: infinite payment-cart-animation 1s ease;
        }
    }

    .grid-item {
        display: grid;
        gap: 5px;
        padding: 1rem;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);

        .category-item {
            display: flex;
            justify-content: center;
            align-items: center;
            position: relative;
                img {
                    border-radius: 18px;
                    width: 100%;
                }

            span { /* Category Name */
                font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
                position: absolute;
                font-size: 28px;
                color: black;
            }

        }

    }

}

.hotSale-tittle {
    width: 100%;
    display: flex;
    justify-content: space-around;
    margin: 1rem 0 0.5rem 0;
    padding-bottom: 0.5rem;
    border-bottom: 1px solid gray;

    i {
        padding: 0 5px;
        color: white;
        background-color: lightgray;
        border-radius: 50%;
    }

    .expland-offerts-benefits {
        font-size: 8px;
    }

    p {
        font-size: 14px;
    }
}

.restaurant-links {
    position: absolute;
    font-size: 24px;
    z-index: 10;
    padding: 5px;
    background: #b52525;
    letter-spacing: 2px;
    color: wheat;
    border: black solid 2px;
    margin: 5px;
    border-radius: 10px;
    box-shadow: inset 0px 0px 5px 2px;
}

.hotSale-carousel {
    display: flex;
    flex-wrap: wrap;
    position: relative;

    .btnsCards-right {
        right: 0;
    }

    .btnsCards-left {
        left: 0;
    }

    .btnsCards {
        position: absolute;
        top: 50%;
        display: flex;
        justify-content: space-between;
        font-size: 35px;
        border-radius: 50%;
        background: wheat;
        padding: 5px 10px;
        z-index: 1;
        opacity: 0.5;

        i {
            display: flex;
            justify-content: center;
            align-items: center;
        }

        &:hover {
            opacity: 0.7;
        }
    }

    .overflow-container {
        position: relative;
        display: flex;
        overflow-x: scroll;
        scrollbar-width: none;
        scroll-behavior: smooth;

        .food-card {
            flex: 0 0 auto;
            width: 250px;
            margin: 1rem;
            position: relative;
            border: 1px solid black;
            border-radius: 12px;
            box-shadow: 0px 0px 13px 0px gray;

            &:hover {
                box-shadow: 0px 0px 10px 0px black;
                transform: translateY(-10px);
                border-radius: 0;
                transition: all 1s ease;
            }


            &:hover .offer-timing-container {
                border-radius: 0;
                transition: all 1s ease;
            }

            .offer-timing-container {
                width: 100%;
                background: #b52525;
                position: absolute;
                top: 0;
                display: flex;
                align-items: center;
                justify-content: space-evenly;
                padding: 3px;
                border-radius: 12px 12px 0 0;
                color: wheat;
                border-bottom: 1px solid white;

            }

            p {
                display: flex;
                justify-content: start;

                span {
                    font-size: 18px;
                    color: rgb(255, 136, 0);
                    margin-left: 5px;
                }
            }

            .offer-info {
                font-size: 24px;
                padding-left: 10px;
                color: black;
                text-overflow: ellipsis;
                white-space: nowrap;
            }

            .product-image-container {
                display: flex;
                flex-direction: column;
                justify-content: flex-end;

                .btn-pay-object {
                    width: 90%;
                    background: black;
                    padding: 5px;
                    margin: 15px auto 15px auto;
                    text-align: center;
                    border-radius: 18px;
                    box-shadow: inset 0 0 10px 3px white;

                    &:hover {
                        animation: infinite payment-cart-animation 1s ease;
                    }

                    a {
                        font-size: 24px;
                        color: white;
                    }
                }
            }


            img {
                width: 100%;
                border-radius: 12px 12px 0 0;
            }


        }
    }
}

/*SERVICES BANNERS SECTION*/
.main__section-cards-prom {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;

    .center_cards-prom {
        width: 100%;
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 30px;
        padding: 30px;
        border-radius: 8px;
    }

    .cardProm {
        border-radius: 8px;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        cursor: pointer;

        img {
            width: 100%;
            height: 100%;
            border-radius: 8px;
        }
    }
}

/* ------------------------------------------------------------------ */
/*SECTION BRANDS*/
.main__section-brands-slider {
    overflow: hidden;
    height: 115px;

    /*----- Contenedor logos -----*/

    .div__brands-box {
        width: 100%;
        height: 100%;
        margin: auto;
        white-space: nowrap;
        position: relative;
        border-radius: 8px 8px 0px 0px;
        background-color: var(--black-color);
    }

    /*----- Efecto blur/fade en ambos extremos del contenedor -----*/

    .div__brands-box:before,
    .div__brands-box:after {
        position: absolute;
        top: 0;
        width: 120px;
        height: 100%;
        content: "";
        z-index: 2;
    }

    .div__brands-box:before {
        left: 0;
        border-radius: 8px;
        background: linear-gradient(to left,
                var(--transparent-color),
                var(--black-color));
    }

    .div__brands-box:after {
        right: 0;
        border-radius: 8px;
        background: linear-gradient(to right,
                var(--transparent-color),
                var(--black-color));
    }

    /*----- Detener la animación -----*/

    .div__brands-box:hover .div__logos-slide {
        animation-play-state: paused;
    }

    /*----- Slider logos -----*/

    .div__logos-slide {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100%;
        animation: slide 20s linear infinite;
        -webkit-animation: slide 20s linear infinite;
        width: calc(200px * 14);
        /* Para activar la animación infinita */
    }

    .a__content-image {
        width: 200px;
        height: 60px;
        margin: 0 40px;

        img:hover {
            cursor: pointer;
            filter: drop-shadow(0 0 10px var(--orange-color));
        }
    }
}

/*----- Animación en el eje X (horizontal) -----*/
@keyframes slide {
    from {
        -webkit-transdiv: translateX(0);
        transform: translateX(0);
    }

    to {
        -webkit-transdiv: translateX(calc(-200px * 7));
        transform: translateX(calc(-200px * 7));
    }
}

@keyframes payment-cart-animation {
    0% {
        transform: scale(1);
    }

    25% {
        transform: scale(1.1);

    }

    50% {
        transform: scale(1);

    }

    75% {
        transform: scale(1.1);

    }

    100% {
        transform: scale(1);

    }
}

/*  MODAL WINDOWS */


.modalWindow {
    display: none;
    position: fixed;
    top: 25%;
    right: 5%;
    width: 90%;
    height: 50%;
    padding: 25px;
    background-color: bisque;
    box-shadow: inset 0 0 15px 0px #303003;
    flex-direction: column;
    z-index: 999;
    align-items: center;
    justify-content: space-between;
    border-radius: 10px;
    border: white 3px solid;

}

.closeModal {
    position: fixed;
    display: flex;
    top: 27%;
    right: 9%;
    border: 1px solid;
    width: 20px;
    border-radius: 50%;
    font-size: 18px;
    justify-content: center;
    cursor: pointer
}


.offertModalWindow {
    display: none;
    position: fixed;
    top: 25%;
    right: 5%;
    width: 90%;
    height: 50%;
    padding: 25px;
    background-color: bisque;
    box-shadow: inset 0 0 15px 0px #303003;
    flex-direction: column;
    z-index: 999;
    align-items: center;
    justify-content: space-between;
    border-radius: 10px;
    border: white 3px solid;

    .image-container-window-offert {
        width: 100%;
        height: 100%;

        img {
            width: 100%;
            height: 100%;

        }
    }

}

.modalWindow-blur {
/*     position: fixed; */
    top: 0;
    width: 100vw;
    background: rgba(251, 251, 251, 0.147);
    height: 100vh;
    z-index: 999;
    
}

/*  MEDIA QUERIES */


@media (min-width:425px) {

    .promotion {
        height: 20vh;
    }

    .second-container {
        width: 85%;
        margin: auto;
        overflow: hidden;

    }

    .flex-slider {

        .grid-item {
            display: grid;
            gap: 5px;
            padding: 5px;
            grid-template-columns: repeat(3, 1fr);
        
            .category-item {
                img {
                    height: 20vh;
                }
            }
        }
    }

    .hotSale-tittle {
        display: flex;
        justify-content: space-between;
    }


}

@media (min-width:769px) {

    .flex-slider {

        .grid-item {
            display: grid;
            gap: 5px;
            padding: 5px;
            grid-template-columns: repeat(5, 1fr);
        }
    }
}

@media (min-width: 1024px) {
    .promotion {
        height: 40vh;
    }
}